*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.slider{
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 80%;
    max-height: 700px;
    margin: 0 auto;
}

.slider img{
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.bullets-nav{
    position: absolute;
    left:50%;
    bottom: 10px;
    z-index: 3;
    transform: translateX(-50%);
}

.bullets-nav span{
    width: 16px;
    height: 16px;
    float: left;
    border-radius: 8px;
    background-color: #ccc;
    cursor: pointer;
    margin: 0 20px;
}